@page "/rank"
@using BridgeRankUtilityWeb.Elements
@using BridgeRankUtilityWeb.Enums
@using BridgeRankUtilityWeb.Types
@using BridgeRankUtilityWeb.Utility
@using System.Net
@using HtmlAgilityPack

<div class="container-fluid h-100">
    <div class="row">
        <div class="col-6">
            <h2 class="mb-3">Aggiungi un torneo</h2>

            <input class="form-control" type="text" placeholder="Incolla qui il link" @bind-value="TournamentURL" />

            @if (AddingTournament != null)
            {
                <TournamentElement Tournament="AddingTournament" />
            }
            else
            {
                <!-- Avviso di torneo non esistente -->
                <div class="alert alert-danger pe-3" role="alert">
                    <p class="m-0"><strong>Attenzione!</strong> Il torneo non esiste</p>
                </div>
            }
        </div>
        <div class="col-6">
        </div>
    </div>
</div>

@code {
    HtmlDocument doc = new HtmlDocument();
    Tournament AddingTournament;

    string _tournamentURL;

    public string TournamentURL
    {
        get => _tournamentURL;
        set
        {
            if (_tournamentURL != value)
            {
                _tournamentURL = value;
                LoadTournament(_tournamentURL);
            }
        }
    }

    public async void LoadTournament(string url)
    {
        AddingTournament = await TournamentUtility.GetTournamentFromDoc(url);
    }
}