<a href="@Link">
    <span class="me-3 text-white">
        <i class="@CssClass(Icon)"></i>
        <span>@Title</span>
    </span>
</a>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Link { get; set; }


    private string CssClass(string icon)
    {
        return $"fa-solid fa-{icon} fa-xl me-1";
    }
}
